<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Registro de asistencia</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/alumno.css') }}">
</head>
<body>
  <h2>Registrar asistencia</h2>
  <form method="POST" action="{{ url_for('attendance.marcar_asistencia') }}">
    <label>DNI:</label>
    <input type="text" name="dni" value="{{ request.form.get('dni', '') }}">

    <label>PIN:</label>
    <input type="text" name="short_code" value="{{ request.form.get('short_code', '') }}">

    <button type="submit">Marcar asistencia</button>
  </form>

  {% if mensaje %}
    <p style="color: blue; margin-top: 15px;">{{ mensaje }}</p>
  {% endif %}
</body>
</html>
