<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard - Asistencias</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}"
    />
  </head>

  <body>
    <h1>Dashboard - Asistencias</h1>

    <div class="beetween-subtitle">
      <h2>Listado de Alumnos</h2>

      <div style="display: flex; align-items: center; gap: 10px">
        <h3>{{ profesor.nombre }}</h3>
        <img src="../static/img/user.png" width=50 alt="user face">
      </div>
    </div>

    <div class="buttons">
      <!-- Botón para abrir modal -->
      <button id="abrirModal">➕ Agregar alumno</button>

      <!-- Botón para generar token -->
      <button id="generarToken">🔐 Generar codigo</button>

      <!-- Donde mostrar el token -->

    <div id="tokenContainer">
      <p id="tokenOutput">Codigo se asistencia no generado</p>
      <span id="instruccionToken"></span>
    </div>

      
    </div>

    <!-- Tabla de alumnos -->
    <table id="tablaAlumnos">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>DNI</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for alumno in alumnos %}
        <tr data-id="{{ alumno.id }}">
          <td>{{ alumno.nombre }}</td>
          <td>{{ alumno.dni }}</td>
          <td>
            {% if alumno.id in alumnos_asistidos %}
            <span class="estado asistido">✔ Presente</span>
            {% else %}
            <span class="estado inasistido">✖ Ausente</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Modal para agregar alumno -->
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="cerrar">&times;</span>
        <h3>Registrar nuevo alumno</h3>
        <form
          id="formAgregarAlumno"
          method="POST"
          action="{{ url_for('profesor.agregar_alumno') }}"
        >
          <label>Nombre:</label>
          <input type="text" name="nombre" required />

          <label>DNI:</label>
          <input type="text" name="dni" required />

          <div class="form-group">
            <label>Clase:</label>
          <select name="clase_id" required>
            <option value="">Seleccionar</option>
            {% for c in clases %}
            <option value="{{ c.id }}">{{ c.materia }}</option>
            {% endfor %}
            </select
          </div>
          <button type="submit">Agregar Alumno</button>
        </form>
      </div>
    </div>

    <!-- Popup mensajes dinámico -->
    <div id="popupMensaje" class="popup"></div>

    <!-- JS -->
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  </body>
</html>
